$width-content: 1080px;
$color-primary: #3E8EBB;

$button-hover-type: 'darken';
$button-hover-amount: 10%;

$color-green: #36BA9B;
$color-blue: #39AED9;
$color-yellow: #F5B946;
$color-red: #D94352;

$theme-colors: () !default;
$theme-colors: map_merge(
                        (
                                "green": $color-green,
                                "blue": $color-blue,
                                "yellow": $color-yellow,
                                "red": $color-red,
                      ), $theme-colors
);