// @import url("reset.css");

@import "reset/reset";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: "Open Sans",sans-serif;
}

@import "variables";

@import "fold/header";

/* Components */
@import "components/buttons";
@import "components/title";

/* Home */
@import "fold/site";

@import "fold/footer";